@charset "UTF-8";
/* estilos cabecera */
.header {
  opacity: .5;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 85px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  width: 80vw;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list li {
  display: inline;
  margin-right: 20px;
}

.nav__list a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.nav__name {
  text-align: center;
}

.nav__name a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  cursor: pointer;
  left: 500px;
  text-align: center;
  font-weight: bolder;
  display: inline;
}

@media (max-width: 576px) {
  .nav__name a {
    font-size: medium;
  }
}

/* header space  */
.header_space {
  height: 100px;
  background-color: white;
}

.body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-image: url(/images/viñas.jpg);
  background-repeat: no-repeat;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: whitesmoke;
}

.form h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 10px;
  color: #ab4493;
}

.form h3 {
  font-size: 16px;
  padding: 0px 20px 30px 20px;
}

.form label {
  display: block;
  float: center;
}

.form input {
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.form input:focus {
  background-color: rgba(229, 143, 207, 0.288);
}

.form textarea:focus {
  background-color: rgba(229, 143, 207, 0.288);
}

.form__button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

.form__button p {
  color: #fff;
}

.required {
  color: #ab4493;
}

.notice {
  font-size: 12px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_div {
  margin-top: 30px;
}

.footer_div a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.icons {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 25px;
}

.icons img {
  width: 30px;
  margin-right: 20px;
}
/*# sourceMappingURL=contacto.css.map */