/* estilos cabecera */


.header{
    opacity: .5;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 85px;
    z-index: 3;
    display: flex;
    justify-content: center;
    

}

.nav{
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:white;
    align-content: center;

}
.nav__logo {
    
    display: flex;
    align-items:center;
    
}

.nav__list {
    padding-left: 0;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    
    li {
        display: inline;
        margin-right: 20px;
    }

    a {
        font-family: sans-serif;
        text-decoration: none;
        color:white;
    }
}




.nav__name{
    text-align: center;   
    
    a{
        color:white;
        text-decoration:none;
        font-size: xx-large;
        cursor: pointer;
        left:500px;
        text-align:center;
        font-weight:bolder;
        display: inline;

        @media (max-width: 576px) {
            font-size: medium;
        }
    }
}

/* header space  */


.header_space {
    height:100px ;
    background-color: white;
}


.body{
    margin:0;
    height: 100%; 
    font-family: sans-serif;
    background-image: url(/images/viñas.jpg); 
    background-repeat: no-repeat;
}

//




.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  padding-left: 30px; 
  background-color: whitesmoke;
}


.form {
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 10px; 
    color: #ab4493;
  }

  h3{
    font-size: 16px; 
    padding: 0px 20px 30px 20px;
  }

  label{
    display: block; 
    float: center;  
  }

  input{

    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    cursor: pointer;
  }

  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }

  input:focus{
    background-color: rgba(229, 143, 207, 0.288);
  }

  textarea:focus{
    background-color: rgba(229, 143, 207, 0.288);
  }

}


.form__button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;

  p{
    color: #fff; 
  }

}



.required {
  color: #ab4493; 
}


.notice{
  font-size: 12px;  
}



//

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer_div {
    margin-top: 30px;
}
.footer_div a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.icons {
    justify-content: right;
    padding-top: 25px;
}

.icons img {
    width: 30px;
    margin-right: 20px;
}