.body{
    margin:0;
    

/* estilos cabecera */


.header{
    opacity: .5;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 85px;
    z-index: 3;
    display: flex;
    justify-content: center;
    

}

.nav{
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:white;
    align-content: center;

}
.nav__logo {
    
    display: flex;
    align-items:center;
    
}

.nav__list {
    padding-left: 0;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    
    li {
        display: inline;
        margin-right: 20px;
    }

    a {
        font-family: sans-serif;
        text-decoration: none;
        color:white;
    }
}




.nav__name{
    text-align: center;   
    
    a{
        color:white;
        text-decoration:none;
        font-size: xx-large;
        cursor: pointer;
        left:500px;
        text-align:center;
        font-weight:bolder;
        display: inline;

        @media (max-width: 576px) {
            font-size: medium;
        }

    }

}


/* header space  */


.header_space {
    height:100px ;
    background-color: white;
}


/*main styles*/


}
.line {
    border-top: 1px solid black;
    height: 2px;
    max-width: 70vw;
    padding: 0;
    margin: 20px auto 0 auto;
}


.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;

    
}

.items__i {
    padding:10px;
    max-width: 500px;
    margin-right: 30px;
    border: 3px inset rgb(160, 116, 116);
    display: flex;
    flex-direction: column;

    img{
        max-width: 300px;
        max-height: 300px;
    }

    &:hover {
        background-color: rgba(160, 116, 116, 0.438);
        text-shadow: black;
    }
}

.items__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}




.text {
    text-align: center;
    text-decoration: none;
    color:black;
}


// Footer styles

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer__div {
    margin-top: 30px;

    a {
        text-decoration: none;
        color: black;
        text-align: center;
    }
}


.footer__icons {
    justify-content: right;
    padding-top: 25px;

    img {
        width: 30px;
        margin-right: 20px;
        }

    }

