.body {
  margin: 0;
  /* estilos cabecera */
  /* header space  */
  /*main styles*/
}

.body .header {
  opacity: .5;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 85px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .nav {
  width: 80vw;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.body .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nav__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .nav__list li {
  display: inline;
  margin-right: 20px;
}

.body .nav__list a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.body .nav__name {
  text-align: center;
}

.body .nav__name a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  cursor: pointer;
  left: 500px;
  text-align: center;
  font-weight: bolder;
  display: inline;
}

@media (max-width: 576px) {
  .body .nav__name a {
    font-size: medium;
  }
}

.body .header_space {
  height: 100px;
  background-color: white;
}

.line {
  border-top: 1px solid black;
  height: 2px;
  max-width: 70vw;
  padding: 0;
  margin: 20px auto 0 auto;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.items__i {
  padding: 10px;
  max-width: 500px;
  margin-right: 30px;
  border: 3px inset #a07474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items__i img {
  max-width: 300px;
  max-height: 300px;
}

.items__i:hover {
  background-color: rgba(160, 116, 116, 0.438);
  text-shadow: black;
}

.items__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  text-align: center;
  text-decoration: none;
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__div {
  margin-top: 30px;
}

.footer__div a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.footer__icons {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 25px;
}

.footer__icons img {
  width: 30px;
  margin-right: 20px;
}
/*# sourceMappingURL=shopstyle.css.map */