/* estilos cabecera */
.header {
  opacity: .5;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 85px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  width: 80vw;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list li {
  display: inline;
  margin-right: 20px;
}

.nav__list a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.nav__name {
  text-align: center;
}

.nav__name a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  cursor: pointer;
  left: 500px;
  text-align: center;
  font-weight: bolder;
  display: inline;
}

@media (max-width: 576px) {
  .nav__name a {
    font-size: medium;
  }
}

/* header space  */
.header_space {
  height: 100px;
  background-color: white;
}

.body {
  margin: 0;
}

.shopaccess {
  background-image: url(./images/wine.jpg);
  background-position: center;
  width: 100vw;
  height: 600px;
  position: relative;
}

.shopaccess a {
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  font-size: 60px;
}

.rudolf {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

blockquote {
  font-style: italic;
  line-height: 1.618;
  font-size: 1.2em;
  width: 30em;
  position: relative;
  padding: 40px 80px;
}

blockquote::before {
  content: open-quote;
  /* Place it at the top-left */
  top: 0;
  left: 0;
}

blockquote::after {
  content: close-quote;
  /* Place it at thee bottom-right */
  bottom: 0;
  right: 0;
}

blockquote::before,
blockquote::after {
  background-color: #cccccc;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 3em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}

.eco {
  background-color: #997070;
  width: 100vw;
  height: 72vh;
  position: relative;
}

@media (max-width: 576px) {
  .eco {
    font-size: medium;
    display: block;
  }
}

.f_picture {
  max-width: 500px;
  max-height: 750px;
  display: inline;
  text-align: left;
  position: absolute;
  left: 50%;
}

@media (max-width: 576px) {
  .f_picture {
    text-align: center;
    left: 0%;
    z-index: 1;
  }
}

.div-eco {
  display: inline-block;
  height: 500px;
  width: 500px;
  background-color: #fcf8ed;
  padding: 60px;
  font-family: sans-serif;
  text-align: justify;
  font-size: large;
  position: absolute;
  top: 10%;
  left: 60%;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
}

@media (max-width: 576px) {
  .div-eco {
    text-align: center;
    left: 100%;
    z-index: 2;
    max-width: 300px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_div {
  margin-top: 30px;
}

.footer_div a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.icons {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 25px;
}

.icons img {
  width: 30px;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */