/* estilos cabecera */


.header{
    opacity: .5;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 85px;
    z-index: 3;
    display: flex;
    justify-content: center;
    

}

.nav{
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:white;
    align-content: center;

}
.nav__logo {
    
    display: flex;
    align-items:center;
    
}

.nav__list {
    padding-left: 0;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    
    li {
        display: inline;
        margin-right: 20px;
    }

    a {
        font-family: sans-serif;
        text-decoration: none;
        color:white;
    }
}




.nav__name{
    text-align: center;   
    
    a{
        color:white;
        text-decoration:none;
        font-size: xx-large;
        cursor: pointer;
        left:500px;
        text-align:center;
        font-weight:bolder;
        display: inline;

        @media (max-width: 576px) {
            font-size: medium;
        }
    }
}

/* header space  */


.header_space {
    height:100px ;
    background-color: white;
}


.body{
    margin:0;
}

.shopaccess{
    background-image: url(./images/wine.jpg);
    background-position: center;
    width:100vw;
    height: 600px;
    position: relative;
}

.shopaccess a {
    position: absolute;
    top:25%;
    left: 40%;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color:white;
    font-size: 60px;
} 

.rudolf {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-style: italic;
    line-height: 1.618;
    font-size: 1.2em;
    width: 30em;
    position: relative;
    padding: 40px 80px;
  }

  blockquote::before {
    content: open-quote;
    /* Place it at the top-left */
    top: 0;
    left: 0;
  }
  
  blockquote::after {
    content: close-quote;
    /* Place it at thee bottom-right */
    bottom: 0;
    right: 0;
  }

  blockquote::before,
blockquote::after {
  background-color: #cccccc;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 3em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}



.eco {
    background-color: #997070;
    width: 100vw;
    height: 72vh;
    position: relative;
    
    @media (max-width: 576px) {
        font-size: medium;
        display: block;
    }

}



.f_picture {
    max-width: 500px;
    max-height: 750px;
    display: inline;
    text-align: left;
    position: absolute;
    left: 50%;
    
    @media (max-width: 576px) {
        text-align:center;
        left:0%;
        z-index: 1;
    }
}


.div-eco {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: rgb(252, 248, 237);
    padding:60px;
    font-family: sans-serif;
    text-align: justify;
    font-size: large;
    position: absolute;
    top:10%;
    left: 60%;
    transform: translate(-100%,0%);

    @media (max-width: 576px) {
        text-align:center;
        left:100%;
        z-index: 2;
        max-width: 300px;
    }

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer_div {
    margin-top: 30px;
}
.footer_div a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.icons {
    justify-content: right;
    padding-top: 25px;
}

.icons img {
    width: 30px;
    margin-right: 20px;
}


